n8n-workflow-factuur-pdf.json
{
  "name": "Factuur PDF → Google Drive",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "factuur-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-factuur",
      "name": "Webhook – Ontvang factuur",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json.body;\n\nconst esc = (v) => String(v ?? '').replaceAll('&','&amp;').replaceAll('<','&lt;').replaceAll('>','&gt;').replaceAll('\"','&quot;').replaceAll(\"'\",'&#39;');\nconst br  = (v) => esc(v).replace(/\\n/g,'<br/>');\nconst euro = (v) => new Intl.NumberFormat('nl-NL',{style:'currency',currency:'EUR'}).format(Number(v??0));\nconst dateFmt = (v) => { try{ return new Intl.DateTimeFormat('nl-NL',{dateStyle:'long'}).format(new Date(v)); }catch(e){return String(v??'');} };\n\nconst fromName    = esc(d.from?.companyName ?? '');\nconst fromEmail   = esc(d.from?.email ?? '');\nconst fromWeb     = esc(d.from?.websiteUrl ?? '');\nconst fromAddr    = br(d.from?.address ?? '');\nconst fromVat     = esc(d.from?.vatNumber ?? '');\nconst fromKvk     = esc(d.from?.kvkNumber ?? '');\nconst fromIban    = esc(d.from?.iban ?? '');\nconst fromBank    = esc(d.from?.bankName ?? '');\nconst fromPhone   = esc(d.from?.phone ?? '');\n\nconst factuurNr   = esc(d.invoiceNumber ?? 'ONBEKEND');\nconst vatRate     = Number(d.vatRate ?? 21);\nconst subtotal    = Number(d.subtotal ?? 0);\nconst vatAmount   = Number(d.vatAmount ?? subtotal * vatRate / 100);\nconst totalAmount = Number(d.totalAmount ?? subtotal + vatAmount);\nconst serviceDate = dateFmt(d.serviceDate ?? d.issueDate);\n\nconst clientName    = esc(d.client?.companyName ?? '');\nconst clientContact = esc(d.client?.contactName ?? '');\nconst clientAddr    = br(d.client?.address ?? '');\nconst clientEmail   = esc(d.client?.email ?? '');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"nl\">\n<head>\n<meta charset=\"UTF-8\"/>\n<style>\n*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\nbody { font-family: Arial, sans-serif; font-size: 11px; line-height: 1.55; color: #111; background: #fff; padding: 44px 52px; }\n\n.header { display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 52px; }\n.brand { font-size: 21px; font-weight: 700; color: #111; letter-spacing: -.3px; }\n.brand-sub { font-size: 10px; color: #555; margin-top: 4px; }\n.header-info { display: grid; grid-template-columns: auto auto; gap: 2px 28px; font-size: 10.5px; text-align: left; }\n.header-info .lbl { font-weight: 700; white-space: nowrap; }\n.header-info .val { color: #333; }\n\n.recipient { margin-bottom: 36px; font-size: 11px; line-height: 1.75; }\n.recipient .tav { color: #555; font-size: 10.5px; }\n\n.doc-title { font-size: 20px; font-weight: 700; color: #111; letter-spacing: -.2px; margin-bottom: 14px; }\n\n.meta { display: grid; grid-template-columns: auto 1fr; gap: 4px 20px; font-size: 11px; margin-bottom: 12px; }\n.meta .mk { font-weight: 700; white-space: nowrap; }\n.meta-line { border: none; border-top: 1px solid #bbb; margin: 20px 0; }\n\n.items { width: 100%; border-collapse: collapse; }\n.items thead tr { border-top: 1px solid #111; border-bottom: 1px solid #111; }\n.items th { font-size: 10px; font-weight: 700; padding: 7px 8px; text-align: left; background: none; }\n.items th.r { text-align: right; }\n.items td { padding: 9px 8px; font-size: 11px; vertical-align: top; border-bottom: 1px solid #e5e5e5; }\n.items td.r { text-align: right; font-variant-numeric: tabular-nums; }\n.items .desc-note { font-size: 10px; color: #666; margin-top: 2px; }\n.items tfoot tr { border-top: none; }\n.items tfoot td { border-bottom: none; padding-top: 6px; color: #444; }\n\n.bottom { display: flex; justify-content: space-between; align-items: flex-start; margin-top: 0; margin-bottom: 28px; }\n\n.vat-table { border-collapse: collapse; font-size: 10px; }\n.vat-table th { font-weight: 700; padding: 5px 16px 5px 0; border-bottom: 1px solid #999; text-align: left; }\n.vat-table td { padding: 5px 16px 5px 0; color: #333; }\n\n.totals { min-width: 220px; border-collapse: collapse; font-size: 11px; }\n.totals td { padding: 5px 0 5px 20px; }\n.totals td:last-child { text-align: right; font-variant-numeric: tabular-nums; }\n.totals .sub td { color: #555; }\n.totals .grand td { font-weight: 700; font-size: 12px; border-top: 1px solid #111; padding-top: 8px; }\n\n.payment { font-size: 11px; color: #333; line-height: 1.85; border-top: 1px solid #ddd; padding-top: 16px; }\n\n.footer { margin-top: 40px; padding-top: 10px; border-top: 1px solid #e0e0e0; font-size: 9.5px; color: #999; display: flex; justify-content: space-between; }\n.footer-r { text-align: right; }\n</style>\n</head>\n<body>\n\n<!-- HEADER -->\n<div class=\"header\">\n  <div>\n    <div class=\"brand\">${fromName}</div>\n    ${fromWeb || fromEmail ? `<div class=\"brand-sub\">${fromWeb}${fromWeb && fromEmail ? ' &middot; ' : ''}${fromEmail}</div>` : ''}\n  </div>\n  <div class=\"header-info\">\n    ${fromAddr ? `<span class=\"lbl\">Adres</span><span class=\"val\">${fromAddr}</span>` : ''}\n    ${fromPhone ? `<span class=\"lbl\">Telefoon</span><span class=\"val\">${fromPhone}</span>` : ''}\n    ${fromIban ? `<span class=\"lbl\">IBAN</span><span class=\"val\">${fromIban}${fromBank ? ' (' + fromBank + ')' : ''}</span>` : ''}\n    ${fromKvk ? `<span class=\"lbl\">KVK</span><span class=\"val\">${fromKvk}</span>` : ''}\n    ${fromVat ? `<span class=\"lbl\">BTW</span><span class=\"val\">${fromVat}</span>` : ''}\n  </div>\n</div>\n\n<!-- ONTVANGER -->\n<div class=\"recipient\">\n  <strong>${clientName}</strong><br/>\n  ${clientContact ? `<span class=\"tav\">T.a.v. ${clientContact}</span><br/>` : ''}\n  ${clientAddr}<br/>\n  ${clientEmail}\n</div>\n\n<!-- TITEL -->\n<div class=\"doc-title\">FACTUUR</div>\n\n<!-- META -->\n<div class=\"meta\">\n  <span class=\"mk\">Factuurnummer</span><span>${factuurNr}</span>\n  <span class=\"mk\">Factuurdatum</span><span>${dateFmt(d.issueDate)}</span>\n  <span class=\"mk\">Leverdatum</span><span>${serviceDate}</span>\n  <span class=\"mk\">Vervaldatum</span><span>${dateFmt(d.dueDate)}</span>\n  ${fromKvk ? `<span class=\"mk\">KVK-nummer</span><span>${fromKvk}</span>` : ''}\n</div>\n<hr class=\"meta-line\"/>\n\n<!-- REGELITEMS -->\n<table class=\"items\">\n  <thead>\n    <tr>\n      <th>Omschrijving</th>\n      <th class=\"r\">Aantal</th>\n      <th class=\"r\">Tarief</th>\n      <th class=\"r\">Bedrag excl. BTW</th>\n    </tr>\n  </thead>\n  <tbody>\n    ${Array.isArray(d.lineItems) && d.lineItems.length > 0\n      ? d.lineItems.map(item => `<tr>\n          <td>${esc(item.description ?? '')}${item.note ? `<div class=\"desc-note\">${esc(item.note)}</div>` : ''}</td>\n          <td class=\"r\">${item.quantity != null ? esc(String(item.quantity)) + (item.unit ? ' ' + esc(item.unit) : '') : ''}</td>\n          <td class=\"r\">${item.unitPrice != null ? euro(item.unitPrice) : ''}</td>\n          <td class=\"r\">${euro(item.amount ?? item.subtotal ?? 0)}</td>\n        </tr>`).join('')\n      : `<tr>\n          <td>${esc(d.description ?? '')}${d.project ? `<div class=\"desc-note\">${esc(d.project.name ?? d.project)}</div>` : ''}</td>\n          <td class=\"r\">${d.quantity != null ? esc(String(d.quantity)) + (d.unit ? ' ' + esc(d.unit) : '') : ''}</td>\n          <td class=\"r\">${d.unitPrice != null ? euro(d.unitPrice) : ''}</td>\n          <td class=\"r\">${euro(subtotal)}</td>\n        </tr>`\n    }\n  </tbody>\n</table>\n\n<!-- ONDERKANT: BTW-tabel links, totalen rechts -->\n<div class=\"bottom\">\n  <table class=\"vat-table\">\n    <thead>\n      <tr>\n        <th>BTW-percentage</th>\n        <th>Grondslag</th>\n        <th>BTW-bedrag</th>\n      </tr>\n    </thead>\n    <tbody>\n      <tr>\n        <td>${vatRate === 0 ? 'Vrijgesteld' : vatRate + '%'}</td>\n        <td>${euro(subtotal)}</td>\n        <td>${euro(vatAmount)}</td>\n      </tr>\n    </tbody>\n  </table>\n\n  <table class=\"totals\">\n    <tr class=\"sub\">\n      <td>Subtotaal</td>\n      <td>${euro(subtotal)}</td>\n    </tr>\n    <tr class=\"sub\">\n      <td>BTW ${vatRate}%</td>\n      <td>${euro(vatAmount)}</td>\n    </tr>\n    <tr class=\"grand\">\n      <td>Totaal te voldoen</td>\n      <td>${euro(totalAmount)}</td>\n    </tr>\n  </table>\n</div>\n\n<!-- BETALING -->\n<div class=\"payment\">\n  ${fromIban ? `Betaal het bedrag voor de vervaldatum op <strong>${fromIban}</strong>${fromBank ? ' t.n.v. ' + fromBank : ''} o.v.v. factuurnummer <strong>${factuurNr}</strong>.` : ''}\n  ${d.notes ? `<br/><br/>${br(d.notes)}` : ''}\n  ${fromEmail ? `<br/><br/>Vragen over deze factuur? Neem contact op via <strong>${fromEmail}</strong>.` : ''}\n</div>\n\n<!-- FOOTER -->\n<div class=\"footer\">\n  <span>${fromName}${fromAddr ? ' &middot; ' + fromAddr.replace(/<br\\/>/g,' ') : ''}</span>\n  <span class=\"footer-r\">${fromKvk ? 'KVK: ' + fromKvk + ' &middot; ' : ''}${fromVat ? 'BTW: ' + fromVat : ''}</span>\n</div>\n\n</body>\n</html>`;\n\nreturn [{ json: { ...d, html } }];"
      },
      "id": "bouw-html-factuur",
      "name": "Bouw HTML factuur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "name": "=Factuur - {{ $('Bouw HTML factuur').item.json.client.companyName }} - {{ $('Bouw HTML factuur').item.json.invoiceNumber }}.pdf",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1e2bzWKRrxNWyBIgX5dgsum8Cx2k74xae",
          "mode": "url"
        },
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "drive-upload-factuur",
      "name": "Upload naar Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1200,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "j6FUWoXphw2lPiUG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://portal.webvakwerk.nl/api/internal/invoices/{{ $('Bouw HTML factuur').item.json.invoiceId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 8VIluuOv8tilh6L7+bkAb6AsJW9oYplzCEMXKjeFUWo"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "driveUrl",
              "value": "={{ $json.webViewLink }}"
            },
            {
              "name": "driveFileId",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "callback-factuur",
      "name": "Callback → Ticket systeem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "webhook-response-factuur",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.16.2.14:3001/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": {{ JSON.stringify($('Bouw HTML factuur').item.json.html) }},\n  \"format\": \"A4\",\n  \"margin\": \"12mm 12mm 12mm 12mm\",\n  \"timeout\": 30\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "html2pdf-factuur",
      "name": "HTML → PDF (html2pdf)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        0
      ]
    }
  ],
  "connections": {
    "Webhook – Ontvang factuur": {
      "main": [
        [
          {
            "node": "Bouw HTML factuur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bouw HTML factuur": {
      "main": [
        [
          {
            "node": "HTML → PDF (html2pdf)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload naar Google Drive": {
      "main": [
        [
          {
            "node": "Callback → Ticket systeem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback → Ticket systeem": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML → PDF (html2pdf)": {
      "main": [
        [
          {
            "node": "Upload naar Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f3df8f20b1b3e507874502c6b6a8ac02a4e70f4290a80feec850b51ed962a44"
  }
}